@font-face {
  font-family: cornerstone;
  src: url('../fonts/Cornerstone.ttf');
}
@font-face {
  font-family: fira-bold;
  src: url(FiraSans-Bold.otf);
}

body{
  background: #fff;
  font-family: cornerstone;
}

header{
  margin: 0 0 40px 0;
  background: #616161;
  height: 35px;
}
nav{
  display: inline;
  height: 100%;
}
h3{
  display: inline;
  background: #E54028;
  color: #fff;
  padding: 10px 20px;
}
a{
  padding: 11px 20px;
  max-width: 200px;
  height: 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  line-height: 0;
}
a:hover{
  text-decoration: none;
  color: #fff;
}
header nav #inicio{
  background-image: -webkit-linear-gradient(45deg, #F18D05 50%, transparent 50%);
  background-image: linear-gradient(45deg, #F18D05 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
header nav #servicios{
  background-image: -webkit-linear-gradient(45deg, #32742C 50%, transparent 50%);
  background-image: linear-gradient(45deg, #32742C 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
header nav #about{
  background-image: -webkit-linear-gradient(45deg, #D70060 50%, transparent 50%);
  background-image: linear-gradient(45deg, #D70060 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
header nav #iniciar{
  background-image: -webkit-linear-gradient(45deg, #E54028 50%, transparent 50%);
  background-image: linear-gradient(45deg, #E54028 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;

}
header nav #inicio:hover{
  /*background: #F18D05;*/
  background-position: 0;

}
header nav #servicios:hover{
  /*background: #32742C;*/
  background-position: 0;
}
header nav #about:hover{
  /*background: #D70060;*/
  background-position: 0;
}
header nav #iniciar:hover{
  /*background: #E54028;*/
  background-position: 0;
}
header nav #registrar:hover{
  background: #D0D102;
}
header .div1 #cerrarSesion{
  background-image: -webkit-linear-gradient(45deg, #F18D05 50%, transparent 50%);
  background-image: linear-gradient(45deg, #F18D05 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
header .div1 #cerrarSesion:hover{
  background-position: 0;
}

.div1{
  float: right;
  display: inline-block;
}
img{
  height: 200px;
  width: 200px;
  

}

.botonesNav{
  display: inline;
}
.botonesSeccion{
  display: block;
  width: 400px;
  /*text-align: left;
  border: none;
  background: #E54028;
  color: #fff;
  margin: none;*/
  padding: 18px;
  font-family: fira-bold;
  font-size: 24px;
}
/*.botonesSeccion:hover{
  background: #fff;
  color: #F18D05;
  border-top: 1px solid #E54028;
  border-left: 1px solid #E54028;
}*/
section{
  background: #fff;
  height: 100%;
  padding: 0;
}
#infoGym{
  background:#fff;
  border-radius: 40px 0 0 0;
}
#seccionCanvas{
  /*border-top: 1px solid #E54028;
  border-bottom: 1px solid #E54028;
  border-right: 1px solid #E54028;*/
  background: #fff;
}
.container{
  padding: 0;

}
canvas{
  width: 300px;
  height: 400px;
}

#cerrarSesion{
  background: transparent;
  border: none;
  padding: 10px 10px 5px 0;
  color: #fff;
}
.imgSeccion{
  border-radius: 40px 0 0 0;
}
.botonesSeccion {
  text-align: left;
  border: none;
  border-bottom: 1px solid #01A4A4;
  font-family: cornerstone;
  background: white;

  background-image: -webkit-linear-gradient(45deg, #01A4A4 50%, transparent 50%);
  background-image: linear-gradient(45deg, #01A4A4 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
#nombreGym{

}
#ubicacion{

}
a:hover{
  background-position: 0;
}
.botonesSeccion:hover {
  background-position: 0;
}
#espacio{
  background: #c1c1c1;
  height: 60px;

}
#infoGym{
  margin: 40px 0;
}
h2{

}
table{
  width: 600px;

  bottom:100px;
  border: 2px solid #c1c1c1;
  margin-left: 100px;


}
tbody{
  font-size: 25px;
}

tr{
  width: 200px;
  height: 20px;
  border: 5px solid #00A1CB;
  text-align: center;
  line-height: 20px;

}

td{
  width: 200px;
  height: 20px;
  border:2px solid #E54028;
  text-align: center;
  line-height: 30px;
  padding-top:20px;
  font-size: 23px;

}
#contenedorInstructores{
 height: 600px;
  width: 660px;
  float:right;
  
}
#rbtInstructo1,#rbtInstructo2{
  width: 30px;
  height: 100px;
  display: inline-block;
}
p{
  text-align: center;
  font-size: 25px;
  
}
#tituloP{
  
  margin-left: 300px;
  text-align: center;
  font-size: 25px;
  
 
  
}
#fechaCitaControl,#horaCitaControl,#idCliente{
  width: 400px;
  height: 100px;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
}
#cajaParaId{
  width: 200px;
}


.errorStyle{
    border: 1px solid red;
    height: 50px;
    /* Configuracion de mozilla */
 -moz-animation: pulse 2s infinite;

    /* Configuracion de Chrome ySafari */
-webkit-animation: pulse 2s infinite;
}
@-moz-keyframes pulse{
    0%{     box-shadow:0 0 5px #008aff;}
    5%{     box-shadow:0 0 10px #008aff;}
    10%{    box-shadow:0 0 15px #008aff;}
    15%{    box-shadow:0 0 20px #008aff;}
    20%{    box-shadow:0 0 25px #008aff;}
    25%{    box-shadow:0 0 30px #008aff;}
    30%{    box-shadow:0 0 35px #008aff;}
    35%{    box-shadow:0 0 40px #008aff;}
    40%{    box-shadow:0 0 45px #008aff;}
    45%{    box-shadow:0 0 50px #008aff;}
    50%{    box-shadow:0 0 60px #008aff;}
    60%{    box-shadow:0 0 70px #008aff;}
    70%{    box-shadow:0 0 80px #008aff;}
    80%{    box-shadow:0 0 90px #008aff;}
    100%{   box-shadow:0 0 100px #008aff;}
}

/* Webkit keyframe animation */
@-webkit-keyframes pulse{
    0%{     box-shadow:0 0 5px #001aff;}
    5%{     box-shadow:0 0 10px #002aff;}
    10%{    box-shadow:0 0 15px #003aff;}
    15%{    box-shadow:0 0 20px #004aff;}
    20%{    box-shadow:0 0 25px #005aff;}
    25%{    box-shadow:0 0 30px #006aff;}
    30%{    box-shadow:0 0 35px #007aff;}
    35%{     box-shadow:0 0 40px #008aff;}
    40%{     box-shadow:0 0 45px #009aff;}
    45%{     box-shadow:0 0 50px #001aff;}
    50%{     box-shadow:0 0 60px #002aff;}
    60%{     box-shadow:0 0 70px #003aff;}
    70%{     box-shadow:0 0 80px #004aff;}
    80%{     box-shadow:0 0 90px #005aff;}
    100%{    box-shadow:0 0 100px #006aff;}

}

#alert{
    width: 250px;
    background-color:#000;
    color:red;
    display: none;
    position: fixed;
}
.bienStyle{
    color: #ef6028;
    font-size: 18px;
    width: 500px;
    height: 30px;
}
#espacio{

  clear: both;


}
